* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: lightblue;
}
header {
    position: fixed;
    top: 0;
    text-align: right;
    margin: 0 auto;
    width: 100%;
    background-color: salmon;
    border-bottom: 2px solid black;
}

h1 {
    text-align: center;
}
ul {
    margin: 20px auto;
    padding-left: 0;
    width: 90%;
}
li {
    display: inline-block;
    width: 100px;
}
#image-section {
    margin: 75px auto 0 auto;
    width: 90%;
    text-align: center;
}
#image-section img {
    
    border: 5px solid navy;
    width:600px;
}
#image-section p {
    margin-top: 0;
}
#contact {
    padding: 5px;
    width: 30%;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 5px;
    text-align: center;
    line-height: 1.5rem;
    background-color: cyan;
}
#subButton {
    background-color: white;
}
footer {
    text-align: center;
}
a:hover {
    color: yellow;
}