* {
    background-color: lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 100px;

}

h1 {
    text-align: center;
}
ul {
    margin: 20px auto;
    padding-left: 0;
    width: 90%;
    text-align: center;
}
li {
    display: inline;
}
#image-section {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
#image-section img {
    margin: 150px auto 0 auto;
    border: 5px solid navy;
    width:600px;
}
#image-section p {
    margin-top: 0;
}
#contact {
    text-align: center;

}
#subButton {
    background-color: white;
}
footer {
    text-align: center;
}